:root {
	
	--primary: #A78BFA;
    --dark-primary:#6D28D9;
 	--on-primary: #ffffff;
	
	--header: rgba(255, 255, 255, 0.4);

	--secondary: #F9A8D4 ;
	--on-secondary: #ffffff;

    --accent: #EC4899; 
    --on-accent: #ffffff;
    --text: #444444; 	
	--text-soft: rgba(255, 255, 255, 0.75);

	--disabled: #676767;
	--on-disabled: #ffffff;

	--error: #BA1A1A;
	--on-error: #FBF8FF;
	
	--surface: #d8dae0;
	--on-surface: #191c20;

	--background: #ffffff;
	--on-background: #63607A;

	--max-width: 1920px;
	--min-width: 360px;

	--border: #8e8c8c43;
	--shadow-low: rgba(0, 0, 0, 0.05);
    --overlay-backdrop: rgba(0, 0, 0, 0.25);

	--surface-glass-low: rgba(255, 255, 255, 0.10);
	--surface-glass-medium: rgba(255, 255, 255, 0.14);

	--footer-color: #262338; 

    --primary-soft: rgba(167, 139, 250, 0.18); 
    --primary-soft-2: rgba(109, 40, 217, 0.12); 
    --glass-border: rgba(167, 139, 250, 0.35);
    --glass-highlight: rgba(255, 255, 255, 0.35);
}