.container {
    width: 180px;
    display: flex;
    justify-content: space-evenly; 
    justify-self: center;
    align-items: center;
    height: 45px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    gap: 2px;
    background-color: var(--on-primary);
    color: var(--primary);
    border: var(--primary) 2px solid;
}

.containerDisabled {
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center; 
    align-items: center;
    height: 45px;
    border-radius: 12px;
    border: 0;
    cursor: not-allowed; 
    background-color: var(--disabled);
    color: var(--on-disabled);
} 

.icon {
    height: 24px;
    width: 24px;
}