.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 40px;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    background-color: var(--primary); 
    color: var(--on-primary);          
    border: 1px solid var(--on-primary);
}

.container:hover {
    transform: scale(1.05);
    background-color: var(--on-primary);
    color: var(--primary);
}
