.container {
    padding: 100px 50px 50px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.middleInformation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    color: var(--on-primary)
}

.middleInformation img {
    width: 220px;
    height: auto;
    margin: 0 auto;
    transform: translateY(0);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.middleInformation img:hover {
    transform: translateY(-10px) scale(1.03);
}

@media (max-width: 820px) {
    .container {
        padding: 100px 15px;
    }

    .middleInformation {
        max-width: 95%;
        gap: 40px;
    }

    .middleInformation img {
        width: 180px;
    }
}

@media (max-width: 480px) {
    .middleInformation img {
        width: 150px;
    }
}
